<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/generic.css') }}">
    <title>Edyst Backend Challenge</title>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
<div class="root-container">
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% macro render_error(field) %}
    {% if field.errors %}
    {% for error in field.errors %}<span class='error'>{{ error }}</span>{% endfor %}
    {% endif %}
    {% endmacro %}
    {% block body %}{% endblock %}
</div>
</body>
</html>
